<template name="appointments">
    <h1 class="page-header">
      Citas 
      <a href="{{pathFor 'addAppointment'}}" class="btn btn-success btn-xs">
        <span class="glyphicon glyphicon-plus"></span> Agregar
      </a>
      </h1>
      {{> appointmentList}}
</template>


<template name="addAppointment">
  <h1 class="page-header">Agregar Cita</h1>
  {{> appointmentForm}}
</template>

<template name="editAppointment">
  <h1 class="page-header">Editar Cita</h1>
  {{> appointmentForm}}
</template>

